<!DOCTYPE html>
<html lang="en" xmlns:th="http;//www.thymeleaf.org">
<head th:replace="StaticView/header">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div class="container formPage">
    <label th:text="${One.resturantName}">Resturant Name</label>

    <form th:action="@{'/addOffer/'+${One.resturantId}+'/save'}" method="post"  th:object="${offe}">

        <div class="form-group">
            <input  type="date" class="form-control bg-dark"  placeholder="Details About Food" th:field="*{StartOffer}"></input>
        </div>

        <div class="form-group">
            <input  type="date" class="form-control bg-dark"  placeholder="Details About Food" th:field="*{EndOffer}"></input>
        </div>


        <div class="form-group">
            <textarea  class="form-control bg-dark"  placeholder="Details About Food" th:field="*{offer}"></textarea>
        </div>

        <button type="submit" class="btn btn-outline-secondary">Add</button>
    </form>
</div>


</body>
</html>