<!DOCTYPE html>
<html lang="en" xmlns:th="http;//www.thymeleaf.org">
<head th:replace="StaticView/header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container formPage">
    <form th:action="@{/saveRest}" method="post"  th:object="${Returant}" enctype="multipart/form-data">

        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input bg-dark" id="inputGroupFile01" th:field="*{resturantImage}">
                <label class="custom-file-label bg-dark" for="inputGroupFile01">Choose file</label>
            </div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control bg-dark"  placeholder="Resturent Name" th:field="*{resturantName}">
        </div>

        <div th:object="${Address}"> <!-- another object because it is embeded calss -->

            <div class="container address">
                <div class="form-group">
                    <input type="text" class="form-control bg-dark"  placeholder="City" th:field="*{city}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control bg-dark"  placeholder="Street" th:field="*{street}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control bg-dark"   placeholder="Near By" th:field="*{place}">
                </div>
            </div>
        </div>


        <div class="form-group">
            <textarea  class="form-control bg-dark"  placeholder="Tell Us More Details About your Resturent" th:field="*{resturantDetails}"></textarea>
        </div>


        <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </form>
</div>
</body>
</html>