<!DOCTYPE html>
<html lang="en" xmlns:th="http;//www.thymeleaf.org">
<head th:replace="StaticView/header">
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">

</head>
<body>
        <div class="container restDetail">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="..." alt="First slide">
                    </div>

                </div>



                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


    <!-- ***************************************************************************** -->
            <table class="table" border="1">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Details</th>
                    <th scope="col">Offer</th>
                    <th scope="col">Menu</th>


                </tr>
                </thead>
                <tbody>
                <tr th:each="re:${RestOneDet}">
                    <td th:text="${re.resturantName}"></td>

                    <td th:each="ad:${re.resturentAddress}"
                        th:text="${ad.getCity()+' - '+ad.getStreet()+' - '+ad.getPlace()}"></td>
                    <td th:text="${re.resturantDetails}"></td>
        <!--
                    <!-- Offers
                    <td th:each="of:${re.offers}"
                        th:text="${of.getOffer() }"></td>

                    <!-- food menu
                    <td th:each="me:${re.restaurantFmenu}"
                        th:text="${me.getFoodName()+' '+me.getFoodPrice()+' '+me.getFoodDetails() }"></td>
        -->

                </tr>
                </tbody>
            </table>

            <!--      offer and menu table        -->
            <table class="table" border="1">
                <thead>
                <tr>
                    <th scope="col">Offer</th>
                    <th scope="col">Menu</th>


                </tr>
                </thead>
                <tbody>
                <tr th:each="re:${RestOneDet}">

                    <!-- Offers -->
                    <td th:each="of:${re.offers}"
                        th:text="${of.getOffer() }"></td>

                    <!-- food menu-->
                    <td th:each="me:${re.restaurantFmenu}"
                        th:text="${me.getFoodName()+' '+me.getFoodPrice()+' '+me.getFoodDetails() }"></td>

                </tr>
                </tbody>
            </table>

        </div>
</body>
</html>