<!DOCTYPE html>
<html lang="en" xmlns:th="http;//www.thymeleaf.org">
<head th:replace="StaticView/header">
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">

</head>
<body>
        <div class="container restDetail">

            <img class="d-block w-100" src="..." alt="First slide">

    <!-- ***************************************************************************** -->
            <table class="table" border="1">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="re:${RestOneDet}">
                    <td th:text="${re.resturantName}"></td>

                    <td th:each="ad:${re.resturentAddress}"
                        th:text="${ad.getCity()+' - '+ad.getStreet()+' - '+ad.getPlace()}"></td>
                    <td th:text="${re.resturantDetails}"></td>
        <!--
                    <!-- Offers
                    <td th:each="of:${re.offers}"
                        th:text="${of.getOffer() }"></td>

                    <!-- food menu
                    <td th:each="me:${re.restaurantFmenu}"
                        th:text="${me.getFoodName()+' '+me.getFoodPrice()+' '+me.getFoodDetails() }"></td>
        -->

                </tr>
                </tbody>
            </table>

            <!--      offer         -->
            <table class="table" border="1">
                <thead>
                <tr>
                    <th scope="col">Offer</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="re:${RestOneDet}">

                    <!-- Offers -->


                    <td>
                        <ul th:each="of:${re.offers}"  class="list-group" >
                            <li  class="list-group-item bg-dark" th:text="${of.getOffer()}" ></li>
                        </ul>
                    </td>

                    <td>
                        <ul th:each="of:${re.offers}"  class="list-group" >
                            <li  class="list-group-item bg-dark" th:text="${of.getStartOffer()}" ></li>
                        </ul>
                    </td>

                    <td>
                        <ul th:each="of:${re.offers}"  class="list-group" >
                            <li  class="list-group-item bg-dark" th:text="${of.getEndOffer()}" ></li>
                        </ul>
                    </td>
                    <!--
                    <td th:each="of:${re.offers}"
                        th:text="${of.getOffer() }"></td>
                    -->
                </tr>
                </tbody>
            </table>
            <!--       menu table    and rates     -->


            <table class="table"  border="1">
                <thead>
                <th>Menu</th>

                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="re:${RestOneDet}">
                        <!-- food menu-->

                    <td>
                        <ul th:each="me:${re.restaurantFmenu}" class="list-group">
                          <li  class="list-group-item bg-dark"  th:text="${me.getFoodName() }"></li>
                        </ul>
                    </td>
                    <td>
                        <ul th:each="me:${re.restaurantFmenu}" class="list-group">
                            <li  class="list-group-item bg-dark"  th:text="${me.getFoodPrice()  }"></li>
                        </ul>
                    </td>
                    <td>
                        <ul th:each="me:${re.restaurantFmenu}" class="list-group">
                            <li  class="list-group-item bg-dark"  th:text="${me.getFoodDetails()  }"></li>
                      </ul>
                    </td>




<!--
                     <!--+' '+me.rates.getRateNumber()
                    <td th:each="rat:${re.restaurantFmenu.rates}"
                        th:text="${rat.getRateNumber}"></td>
-->
                </tr>
                </tbody>
            </table>

        </div>
</body>
</html>